body {
    font-family: "aktiv-grotesk", sans-serif;
    font-weight: 300;
    font-style: normal;
    background-color: #ffb2e8;
    text-align: center;
}

.headline {
    font-weight: bold;
}

p {
    font-size: 20px;
}

#current-date, .clock, .intro {
    margin: 12px auto;
    display: inline-block;
}