body {
    font-family: Helvetica, sans-serif;
    margin-left: 70px;
    margin-right: 70px;
}

.headline {
    background-color: dodgerblue;
    color: white;
    width: fit-content;
    margin-top: 40px;
}

.headline p {
    padding: 3px 5px;
}

footer p a {
    color: dodgerblue;
}

.table {
    display: grid;
    grid-template-columns: repeat(5, 120px);
    row-gap: 16px;
    column-gap: 16px;
    text-align: center;
    place-content: center;
    margin: 0;
    padding: 0;
}

.circle {
    display: grid;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    border: 1px solid black;
    text-align: center;
    place-content: center;
}

.circle:hover {
    background-color: dodgerblue;
    color: white;
    cursor: grab;
}

/* modal tab */
.modal {
    display: none;
    position: fixed;
    top: 5vh;
    left: 30vh;
    width: 110vh;
    height: 60vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    place-content: center;
}
.modal-content {
    background-color: dodgerblue;
    padding: 20px;
    color: white;
}

.close-button {
    position: absolute;
    top: 13px;
    right: 13px;
    cursor: pointer;
    width: 13px;
}

@media screen and (max-width: 768px) {

    .modal {
        width: 90%;
        left: 5%;
        top: 10%;
    }

    .modal-content {
        padding: 10px;
    }

    .close-button {
        top: 5px;
        right: 5px;
    }
}